.navbar {
  background-color: $darkGrey;

  &-top {
    z-index: 99;
    position: sticky;
    top: 0;
    background-color: $black;
    &__mobile {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      height: 3rem;

      div:nth-child(3) {
        &:hover {
          background-color: transparent;
        }
        button > svg {
          height: 1rem;
          width: 1rem;
        }
      }

      .button-wrapper {
        &__button {
          height: 3rem;
          padding: 0 1rem;
          border-radius: 2px;
        }
      }
    }
    img {
      height: 2rem;
    }
    &__desktop {
      display: none;
    }
    @media (min-width: $mobile) {
      padding: 0 1rem;
      &__mobile {
        display: none;
      }
      &__desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;

        > div > div:nth-child(3) {
          border: 1px solid $lightGrey;
          padding: 0 0.5rem;
        }

        > div > div:nth-child(2) {
          background: $yellowGradient;
          color: $black;
          padding: 0 0.25rem;
        }

        &-right {
          input {
            height: 2rem;
            color: $white;
            background-color: $mediumGrey;
            border: transparent;
            padding-left: 0.5rem;
            width: 15rem;

            &:focus,
            &:active {
              outline: none;
            }
          }
          .button-wrapper {
            margin-left: 1rem;

            &__button {
              padding: 0.5rem;
            }
          }
        }
      }
    }
  }
  &-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100px;
    overflow: hidden;
    @media (min-width: $mobile) {
      display: none;
    }

    video {
      position: absolute;
      height: 100px;
      width: 100%;
      top: 0;
      left: 0;
      transform: scale(2.5);
    }

    .button-wrapper {
      z-index: 80;
      &__button {
        background: $yellowGradient;
        color: $darkGrey;
        padding: 0.5rem 1.5rem;
      }
    }
  }
  &-cat-links {
    position: relative;
    max-height: 5.5rem;
    overflow: hidden;

    > .button-wrapper {
      position: absolute;
      right: 0.5rem;
      bottom: 1rem;
      color: $blue;

      &:hover {
        background-color: transparent;
      }
    }

    &-container {
      width: 100%;
      display: block;
      padding: 0.4rem 0.5rem;
      padding-right: 5rem;
      overflow: hidden;

      .button-wrapper {
        &:hover {
          background-color: transparent;
        }
        &__button {
          &:hover {
            background-color: $mediumGrey;
          }
          border: 1px solid $mediumGrey;
          border-radius: 2px;
          padding: 0.5rem;
          margin-right: 0.75rem;
          margin-bottom: 0.5rem;
        }
      }
    }

    @media (min-width: $mobile) {
      display: none;
    }
  }
}
