$mobile: 768px;
$tablet: 998px;
$desktop: 1200px;

$white: #f5f5f5;
$lightGrey: rgb(174, 174, 174);
$mediumGrey: #424242;
$lightDarkGrey: #313131;
$darkGrey: #212121;
$darkestGrey: #111;
$black: #000;

$blue: #3399cc;
$yellowGradient: linear-gradient(rgb(251, 225, 18) 0%, rgb(204, 125, 0) 100%);
